name: Bump
on:
  push:
    branches: [ master ]
    tags-ignore:  
      - v*
  pull_request:
    branches: [ master ]
    tags-ignore:  
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name:  'Automated Version Bump'
        uses:  'phips28/gh-action-bump-version@master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}